<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>note</title>
  </head>

  <body>
    <div class="container mt-5">
      <h2>update note</h2>
      <form action="/edit/<%- clubs._id %>" method="POST">
        <div class="form-group">
          <label>Title:</label>
          <input
            type="title"
            class="form-control"
            id="title"
            placeholder="Enter title"
            name="title"
            value="<%- clubs.title %>"
          />
        </div>
        <div class="form-group">
          <label>Description:</label>
          <input
            type="text"
            class="form-control"
            id="description"
            placeholder="Enter description"
            name="description"
            value="<%- clubs.description %>"
          />
        </div>
        <button type="submit" class="btn btn-primary">update</button>
      </form>
    </div>
  </body>
</html>
