<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>note</title>
  </head>

  <body>
    <div class="container pt-5">
      <h2>Add Note</h2>
      <form action="/" method="POST">
        <div class="form-group">
          <label>Title:</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="Enter title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label>Description:</label>
          <input
            type="description"
            class="form-control"
            id="pwd"
            placeholder="Enter description"
            name="description"
          />
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
    <div class="container mt-4">
      <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Created_on</th>
          <th>update</th>
          <th>delete</th>
        </tr>
        <% clubs.forEach((club)=>{ %>
        <tr>
          <td><%- club.title %></td>
          <td><%- club.description %></td>
          <td><%- club.created_on %></td>
          <td>
            <a class="btn btn-success" href="/edit/<%- club._id%>">Update</a>
          </td>
          <td>
            <a class="btn btn-danger" href="/del/<%- club._id%>">Delete</a>
          </td>
        </tr>
        <% }); %>
      </table>
    </div>
  </body>
</html>
